[Unit]
Description=Resident Frequency Sensor
After=network.target router.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/signal-router/sensors/distance
ExecStart=/usr/bin/python3 -u main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
